/*
  Nota: si no usas el navbar, el siguiente código
  no es necesario
*/

body {
    padding-top: 70px;
}

.ana-noencontrado {
  padding: 20px 0 0 20px;
    font-weight: bold;
    font-size: 15pt;
}
.form-control:focus {
  border-color: #00ffff !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 242, 0.6) !important;
}
.option:hover {
  border-color: #09adad !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 242, 0.6) !important;
}
